body {
  background: #eee;
  font-family: sans-serif;
}



.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 8px solid white;
}

.title {
  background: blue;
  font-size: 16px;
  
}

.content {
  background: blue;
  
}

.button-container {
  background: blue;
  
  text-align: center;
  padding: 8px;
  
  
  
}

button {
  background: white;
  border: 1px solid #eee;
}